.sidebar-heading{
    margin-bottom: 0;
    padding: 1.5rem;
    color: #adb5bd;
    font-size: .7875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.sidebar{
    width: 16rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    z-index: 2;
}